In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")


import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns

from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from collections import Counter
from sklearn.datasets import make_classification

from numpy import where

import scipy.stats as stats
from scipy.stats import norm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.special import inv_boxcox   
import os #we will use the function listdir to list files in a folder
import math
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller, kpss, acf, grangercausalitytests
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf,month_plot,quarter_plot
from scipy import signal
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

%matplotlib inline

pd.set_option('display.max_columns', None)

# Data wrangling

## Data collection and discovery

In [2]:
# Functions for Data Exploration

# Renaming columns
def rename_columns(df):
    for i in range(0, df.shape[1]):
        df.rename(columns={df.columns[i]: column_names[i]}, inplace=True)    
    return df

# Checking the NaNs
def check_nan(df):
    nulls = pd.DataFrame(df.isna().sum()/len(df))
    nulls= nulls.reset_index()
    nulls.columns = ['column_name', 'Percentage Null Values']
    nulls.sort_values(by='Percentage Null Values', ascending = False)
    return nulls

# Checking the value counts
def check_count(df):
    value_counts = []
    for column in df.columns:
        x = len(df[column].value_counts())
        value_counts.append(x)
    counts = pd.DataFrame(value_counts)
    counts = counts.reset_index()
    counts.columns = ['name', 'value_counts']
    for i in range(0, df.shape[1]):
        counts['name'] = counts['name'].replace(i,df.columns[i])
    return counts

# Checking for constants
def get_constant(df):
    to_remove = []
    for col in df.columns:
        maximum = max(list(df[col].value_counts()))
        percent = round(maximum/len(df)*100,2)
        if percent > 75:
            to_remove.append(col)
            print(col)
            print(maximum)
            print(percent, '%')
            print()
    print(to_remove)
    return to_remove

##### Extracting the data

In [3]:
data = pd.read_csv('regression_data.csv', header=None)
# we create a copy that we will use to train the model and have a reference point
print(data.shape)
data.head()

(21597, 21)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,7129300520,10/13/14,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/9/14,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/9/14,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

##### First, let's rename the columns to make the exploration more efficient
We'll also set the id as the index

In [4]:
column_names = ['id', 'date','bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition','grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'price']
data = rename_columns(data)
data = data.set_index('id')
copy = data.copy()
data.head()

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
id,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/14,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
6414100192,12/9/14,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
2487200875,12/9/14,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

### Now let's check the data types, unique values, null values and statistical overview of the data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21597 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  object
 1   bedrooms       21597 non-null  int64
 2   bathrooms      21597 non-null  float64
 3   sqft_living    21597 non-null  int64
 4   sqft_lot       21597 non-null  int64
 5   floors         21597 non-null  float64
 6   waterfront     21597 non-null  int64
 7   view           21597 non-null  int64
 8   condition      21597 non-null  int64
 9   grade          21597 non-null  int64
 10  sqft_above     21597 non-null  int64
 11  sqft_basement  21597 non-null  int64
 12  yr_built       21597 non-null  int64
 13  yr_renovated   21597 non-null  int64
 14  zipcode        21597 non-null  int64
 15  lat            21597 non-null  float64
 16  long           21597 non-null  float64
 17  sqft_living15  21597 non-null  int64
 18  sqft_lot15     21597 non-null  int64
 19  price          21597 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
data.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
count,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,2.159700e+04
mean,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007547,0.234292,3.409825,7.657915,1788.596842,291.725008,1970.999676,84.464787,98077.951845,47.560093,-122.213982,1986.620318,12758.283512,5.402966e+05
std,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086549,0.766390,0.650546,1.173200,827.759761,442.667800,29.375234,401.821438,53.513072,0.138552,0.140724,685.230472,27274.441950,3.673681e+05
min,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000,7.800000e+04
25%,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000,3.220000e+05
50%,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000,4.500000e+05
75%,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000,6.450000e+05
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000,7.700000e+06

#### Checking the nulls and the value counts

In [7]:
nulls = check_nan(data)
print(nulls)
counts = check_count(data)
counts

      column_name  Percentage Null Values
0            date                     0.0
1        bedrooms                     0.0
2       bathrooms                     0.0
3     sqft_living                     0.0
4        sqft_lot                     0.0
5          floors                     0.0
6      waterfront                     0.0
7            view                     0.0
8       condition                     0.0
9           grade                     0.0
10     sqft_above                     0.0
11  sqft_basement                     0.0
12       yr_built                     0.0
13   yr_renovated                     0.0
14        zipcode                     0.0
15            lat                     0.0
16           long                     0.0
17  sqft_living15                     0.0
18     sqft_lot15                     0.0
19          price                     0.0

             name  value_counts
0            date           372
1        bedrooms            12
2       bathrooms            29
3     sqft_living          1034
4        sqft_lot          9776
5          floors             6
6      waterfront             2
7            view             5
8       condition             5
9           grade            11
10     sqft_above           942
11  sqft_basement           306
12       yr_built           116
13   yr_renovated            70
14        zipcode            70
15            lat          5033
16           long           751
17  sqft_living15           777
18     sqft_lot15          8682
19          price          3622

### First observations
Almost all of the data is numerical. \
The qualitative categorical data has already been assigned numerical values.\
The features identified as categoricals are: waterfront, view, condition, grade, zipcode. \
The only object type we have is the `date`, `yr_built` and `yr_renovated` that I will change into datetime type.

## Data cleaning and Feature Engineering

In [8]:
## Functions for Data Cleaning and Feature Engineering

# Log Transform
def log_transfom_x(x):
    if np.isfinite(x) and x!=0:
        return np.log(x)
    else:
        return np.nan

def log_transform_df(df):
    df_log = df.copy()
    for col in df_log.columns:
        df_log[col] = list(map(log_transfom_x, df_log[col]))
    for col in df_log.columns:
        df_log[col] = df_log[col].fillna(np.mean(df_log[col]))
        sns.distplot(df_log[col], fit=norm)
        fig = plt.figure()
    return df_log

# Square root transform
def sqrt_transfom_x(x):
    if np.isfinite(x) and x>=0:
        return np.sqrt(x)
    else:
        return np.nan
    
def sqrt_transform_df(df):
    df_log = df.copy()
    for col in df_log.columns:
        df_log[col] = list(map(sqrt_transfom_x, df_log[col]))
    for col in df_log.columns:
        df_log[col] = df_log[col].fillna(np.mean(df_log[col]))
        sns.distplot(df_log[col], fit=norm)
        fig = plt.figure()
    return df_log

# I will use this function to scale the data with StandardScaler
def standard_scaling(df):
    transformer = StandardScaler().fit(df)
    x_standardized = transformer.transform(df)
    X = pd.DataFrame(x_standardized)
    X.columns = df.columns
    return X

# Encoding the categoricals
def encode_cat(df):
    encoder = OneHotEncoder(drop='first').fit(df)
    column_names = encoder.get_feature_names(list(df.columns))
    encoded_categorical = encoder.transform(df).toarray()
    encoded_categorical = pd.DataFrame(encoded_categorical, columns=column_names)
    return encoded_categorical

##### We will start with cleaning the datatypes
First the dates

#### Cleaning `date`

In [9]:
data['date'] = pd.to_datetime(data['date']).dt.date
data['date'] = pd.to_datetime(data['date'])
print(data.date.describe())
data.date.unique

count                   21597
unique                    372
top       2014-06-23 00:00:00
freq                      142
first     2014-05-02 00:00:00
last      2015-05-27 00:00:00
Name: date, dtype: object

<bound method Series.unique of id
7129300520   2014-10-13
6414100192   2014-12-09
5631500400   2015-02-25
2487200875   2014-12-09
1954400510   2015-02-18
                ...
263000018    2014-05-21
6600060120   2015-02-23
1523300141   2014-06-23
291310100    2015-01-16
1523300157   2014-10-15
Name: date, Length: 21597, dtype: datetime64[ns]>

We can see that the date the house was sold covers only two years, from 02/05/2014 to 27/05/2015. \
We can bin the date into different groups that have some business sense when it comes to real estate. \
I will therefore group the dates into quarters, which is the best approximation to yearly seasons.

In [10]:
data['quarter_sold'] = data['date'].dt.to_period('Q')
data['quarter_sold'] = data['quarter_sold'].astype(object)

# dropping 'date' as 'quarter_sold' is created
data = data.drop(['date'], axis=1)

data['quarter_sold'].value_counts()

2014Q3    5921
2014Q4    4755
2015Q1    4100
2014Q2    3946
2015Q2    2875
Freq: Q-DEC, Name: quarter_sold, dtype: int64

#### Cleaning `yr_built`

In [11]:
print(data['yr_built'].value_counts())
data['yr_built'].describe()

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

count    21597.000000
mean      1970.999676
std         29.375234
min       1900.000000
25%       1951.000000
50%       1975.000000
75%       1997.000000
max       2015.000000
Name: yr_built, dtype: float64

We can see that the construction years span 115 years. \
We can group these years by decades.

In [12]:
data['decade_built'] = (10 * (data['yr_built'] // 10)).astype(str)

#dropping 'yr_built' as 'decade_built' is created
data = data.drop(['yr_built'], axis=1)

data['decade_built'].value_counts()

2000    3515
1960    2658
1950    2450
1970    2285
1980    2281
1990    2232
1940    1763
2010    1241
1920    1192
1910     805
1900     645
1930     530
Name: decade_built, dtype: int64

#### Cleaning `yr_renovated`

In [13]:
data['yr_renovated'].value_counts()

0       20683
2014       91
2013       37
2003       36
2005       35
        ...
1951        1
1959        1
1948        1
1954        1
1944        1
Name: yr_renovated, Length: 70, dtype: int64

`yr_renovated` has a lot of 0 values so we will not change it to datetime but modify the column later turn the data into True or False if the property has been renovated or not.

In [14]:
data['yr_renovated'] = np.where(data['yr_renovated'] ==0, False, True)
data = data.rename(columns={'yr_renovated': 'renovated'})
data['renovated'].value_counts()

False    20683
True       914
Name: renovated, dtype: int64

#### Now we will change the datatypes of the categorical data

In [15]:
cat_columns = ['waterfront', 'view', 'condition', 'grade', 'zipcode', 'renovated', 'decade_built', 'quarter_sold']
data[cat_columns] = data[cat_columns].astype(object)
data[cat_columns].dtypes

waterfront      object
view            object
condition       object
grade           object
zipcode         object
renovated       object
decade_built    object
quarter_sold    object
dtype: object

#### Separating the categorical data, discrete numerical data and continuous numerical data

In [ ]:
def separate_num(df, count):
    continuous = []
    discrete = []
    for col in df:
        if len(df[col].value_counts()) > count:
            continuous.append(col)
        else:
            discrete.append(col)
    print(len(continuous), ' continuous numerical columns')
    print(len(discrete), 'discrete numerical columns')
    continuous_df = df[continuous]
    discrete_df = df[discrete]
    return continuous_df, discrete_df

In [ ]:
# creating a dataframe with only the numerical data for EDA - including `bathrooms`, `floors`, and `bedrooms`
numericals =  data.select_dtypes(np.number)

# creating a dataframe with only the categorical data
cat = data.select_dtypes(np.object)

# separeting the discrete and continuous numericals
continuous_df, discrete_df = separate_num(numericals, 30)

continuous_df.reset_index(drop=True, inplace=True)
discrete_df.reset_index(drop=True, inplace=True)
print()
print(cat)
print(continuous_df)
print(discrete_df)

### Preliminary model to serve as benchmark

In [ ]:
### Functions for modeling and model evaluation

def modeling(y, X, models=[], test_size=0.3):
    for model in models:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
        model.fit(X_train, y_train )
        predictions = model.predict(X_test)
        r2 = r2_score(y_test, predictions)
        r2_adj = 1 - (1-r2)*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
        RMSE = mean_squared_error(y_test, predictions, squared=False)
        MSE = mean_squared_error(y_test, predictions)
        MAE = mean_absolute_error(y_test, predictions)
        print(model, 'metrics are: '), print("R2 =", round(r2,2)), print("R2 adjusted =", round(r2_adj,2)), print("RMSE =", round(RMSE,2)), print("MSE =", round(MSE,2)), print("MAE =", round(MAE,2))
        print()
        results = pd.DataFrame()
        results['true'] = y_test
        results['pred'] = predictions
        results['diff'] = results.apply(lambda x: abs(x['true'] - x['pred']), axis=1)
        print(results)
        print()
        beautiful_graph = sns.regplot(x=y_test, y=predictions)
        print(beautiful_graph)
    return predictions

# Create dataframe for visualising the differences between real and predicted values
def diff_df(y_test, predictions):
    results = pd.DataFrame()
    results['true'] = y_test
    results['pred'] = predictions
    results['diff'] = results.apply(lambda x: abs(x['true'] - x['pred']), axis=1)
    results = results.sort_values('diff', ascending=False).head(10)
    return results

def we_like_to_see(results):
    beautiful_graph = sns.regplot(results['true'], results['pred'])
    return beautiful_graph

def optimal_k(k_min, k_max):
    scores = []
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    for i in range(k_min,k_max): 
        model = KNeighborsRegressor(n_neighbors=i)
        model.fit(X_train, y_train)
        scores.append(model.score(X_test, y_test))
    plt.figure(figsize=(10,6))
    plt.plot(range(k_min, k_max), scores, color = 'blue', linestyle='dashed',
    marker='o', markerfacecolor='red', markersize=10)
    plt.title('R2 vs. K Value')
    plt.xlabel('K')
    plt.ylabel('R2')

In [ ]:
X_scaled = standard_scaling(continuous_df)
cat_encoded = pd.get_dummies(cat, columns=cat.columns, drop_first=True)
cat_encoded.reset_index(drop=True, inplace=True)
data.reset_index(drop=True, inplace=True)

X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X = X.drop('price', axis=1)
y = data['price']

In [ ]:
prediction_lr_beta = modeling(y, X, models=[LinearRegression()], test_size=0.3)

## Exploratory data analysis

In [ ]:
#### Functions - EDA

def check_dist(df):
    for column in df:  
        plt.figure(figsize=(10,5))
        plt.xlabel(column)
        plt.ylabel('Quantity')
        sns.kdeplot(x=df[column], shade=True)
        plt.show()
    return ()

# Do the same with continuous variables 
def scatter(df, target):
    cols_to_include = df.loc[:, df.columns != target]
    for column in cols_to_include:
        plt.figure(figsize=(10,5))
        sns.scatterplot(df[column],df[target])
        plt.show()
    return ()

def boxplot(df):
    for column in df:      
        plt.figure(figsize=(6,3))
        sns.boxplot(x=df[column])
        plt.show()
    return ()
        
def heatmap(df, target):
    df.reset_index(drop=True, inplace=True)
    matrix = pd.concat([df, target], axis=1)
    mask = np.zeros_like(matrix.corr())
    mask[np.triu_indices_from(mask)] = True
    fig, ax = plt.subplots(figsize=(12, 8))
    ax = sns.heatmap(matrix.corr(), mask=mask, annot=True, cmap='Blues')
    m = ax.get_figure()
    plt.show()
    return m

def countplot(df):
    for column in df.columns:
        plt.figure(figsize=(10,5))
        sns.countplot(x=column, data=df, palette='Blues')
        plt.show()
    return ()

# visualize distribution plot with a filter
def scatter_x(df, filt, target):
    df[filt] = df[filt].astype(int)
    unique = list(df[filt].unique())
    df_num = df.loc[:, df.columns != target]
    df_num = df_num.select_dtypes(np.number) 
    for col in df_num.columns:
        if col != filt:
            for i in range(0, len(unique)):
                print(filt, ': ', unique[i])
                data_element = df_num[df_num[filt]==unique[i]]
                plt.figure(figsize=(10,5))
                sns.scatterplot(data_element[col], df[target])
                plt.show()

# visualize the box-plots with a filter
def boxplot_x(df, filt):
    df[filt] = df[filt].astype(int)
    unique = list(df[filt].unique())
    df_num = df.select_dtypes(np.number) 
    for col in df_num.columns:
        if col != filt:
            for i in range(0, len(unique)):
                print(filt, ': ', unique[i])
                data_element = df_num[df_num[filt]==unique[i]]
                plt.figure(figsize=(10,5))
                sns.boxplot(data_element[col])
                plt.show()
                
# vizualizing variables repartition on a map
def mapping(df, variables):
    df.reset_index(drop=True, inplace=True)
    for variable in variables:
        df.plot(kind='scatter', x='long', y='lat', alpha=0.4, figsize=(14,11),
        c=variable, cmap=plt.get_cmap('turbo'), colorbar=True, sharex=False)
        plt.title(f'{variable} distribution')
    return ()

##### Distribution plots

In [ ]:
distributions = check_dist(continuous_df)

#### Observations
Most of the distributions resemble skewed normal distributions except for `sqft_lot` and `sqft_lot15` as their values hover around one value, and `sqft_basement` which has most of its value around 0 and then a second flatter curve for the properties that have a basement.

##### Scatter plots

In [ ]:
scatterplots = scatter(continuous_df, 'price')

#### Observations
From looking at the scatterplots, we can see that there is a clear linear correlation between the `sqft_living`, `sqft_above`, `sqft_living15`, `sqft_basement` and `price`. For the latter, there are also more expensive properties that don't have a basement hence the continuous line on `0` `sqft_basement`.

Additionaly, it looks like `sqf_lot` and `sqft_lot15` have very low correlation with the `price`, there are very high prices for very low `sqf_lot` values and very low prices for high and low `sqf_lot` values.

##### Box-plots

In [ ]:
boxplots = boxplot(numericals)

#### Observations
There are a lot of outliers, however, given the many different features of the properties what looks like outliers in one feature might be explained by another feature and be perfectly within the norm within a subcategory.

##### Heatmap

In [ ]:
m = heatmap(numericals.drop(['price'], axis=1), y)

#### Observations
The heatmap shows that `sqft_living` and `sqft_above` are very colinear. \
We could consider engineering a new feature out of the two or dropping the one that is the most correlated with the target `price`.

The variables the most correlated to the target are `sqft_living`, `sqft_above`, `sqft_living_15` and `bathrooms`.
The variables the least correlated to the target are `long`, `sqft_lot`, and `sqft_lot15`. \
Interestingly, `lat` is much more correlated to the target than `long`, so the property location along the North-South axe has more impact on the `price` than the location along the East-West axe.

##### Countplots

In [ ]:
countplots = countplot(cat)

#### Observations
The variables `waterfront`, `view`, `renovated` have one dominant value and `condition` has very few `1` and `2` compared to the other three values.

### Exploring the price distribution per the following categorical and discrete features
First per `zipcodes`

In [ ]:
zipcodes = scatter_x(data, 'zipcode', 'price')

Per `renovated`

In [ ]:
renovated_and_not = scatter_x(data, 'renovated', 'price')

Per `view`

In [ ]:
views = scatter_x(data, 'view', 'price')

Per `waterfront`

In [ ]:
waterfront_or_not = scatter_x(data, 'waterfront', 'price')

Per `condition`

In [ ]:
conditions = scatter_x(data, 'condition', 'price')

Per `grade`

In [ ]:
grades = scatter_x(data, 'grade', 'price')

Per `decade`

In [ ]:
decades_built = scatter_x(data, 'decade_built', 'price')

#### Observations
The distribution plots show that `zipcode`, `grade`, and `condition` have the highest impact on the features of the properties and price distribution, `decade_built` and `view` also affect them albeit to a lesser extent.

### Exploring the outlier frequency per grade, zipcode, and condition
First per `grade`

In [ ]:
grades_box = boxplot_x(data, 'grade')

We can see that the higher the grade, the higher the number of outliers.

Per `zipcode`

In [ ]:
zip_box = boxplot_x(data, 'zipcode')

Looking at the outliers per zipcodes highlights the significant differences between zipcodes.

Per `condition`

In [ ]:
conditions_box = boxplot_x(data, 'condition')

#### Observations
Overall, the `sqft` features and the `price` are the most affected by the different values of the features `grade`, `zipcode` and `condition`.

In [ ]:
# removing long and lat
ft = list(numericals.columns)
ft.remove('long')
ft.remove('lat')
ft.extend(['grade', 'waterfront', 'condition', 'view', 'decade_built', 'zipcode'])

# mapping the variables
maps = mapping(data, ft)

We can see that the most expensive properties are stituated in the center-north of the map, next to the water (slightly above 47.6 and to the left of -122.2).

**From the other maps, it is noticeable that this expensive area overlaps with**:

        - more `bathrooms` 
        - higher `sqft_living` and `sqft_above`
        - mostly `2` or less `floors`
        - slightly more `sqft_basement`
        - bigger living room area
        - higher `grade` (`10`+)
        - not necessarily better `condition`, it seems to be averaging around `3` to `4`
        - the decades the properties were built ranges between `1950` and `2010` albeit most were built before `2000`.
        - this expensive area overlaps two `zipcode`

**These features are not parameters that influence very high** `price`:

        - `view` always rates better next to the water, it's not exclusive to this expensive area. 
           Other areas with better views also have higher a higher `price` than average but not to the extent of the zone with the most expensive properties.
        - the 'lot' variables, `sqft_lot` and `sqft_lot15` have higher values on the outer edges of the map and have no overlap with the property area with the highest `price`.
          We can infer that it's due to the urban nature of the zone, where most of the square footage is indoors.

## Feature Engineering and Feature Selection

#### Binning `lat` and dropping `long`

In [ ]:
print('Number of unique `lat` values: ', len(continuous_df['lat'].unique()), '\n')
print('Value repartition: ')
continuous_df['lat'].describe()

In [ ]:
# creating a copy
df_lat = continuous_df.copy()

# binning lat
step = 0.001
lat_bin = lambda x: np.floor(x / step) * step

# creating a new column with the bins
df_lat['lat_bin'] = df_lat['lat'].map(lat_bin)

# checking the values
print(len(df_lat['lat_bin'].unique()))
df_lat['lat_bin'].head(5)

In [ ]:
# Dropping long and lat
df_lat_ = df_lat.drop(['long', 'lat'], axis=1)

# scaling the dataframe copy
X_lat_scaled = standard_scaling(df_lat_)

# concatenating with the other dataframes and dropping the target
X_lat = pd.concat([X_lat_scaled, discrete_df, cat_encoded], axis=1)
X_lat.drop(['price'], axis=1, inplace=True)

# checking the model's performance
evol_1 = modeling(y, X_lat, models=[LinearRegression()], test_size=0.3)

There is almost no difference in the model's performance, only the MAE increased very little.

#### Dropping `lat` and  `long`
`long` is very little correlated to the target and we have already a more precise geographical parameter with `zipcode`.

In [ ]:
# dropping lat and long
continuous_df.drop(['lat', 'long'], axis=1, inplace=True)
data.drop(['lat', 'long'], axis=1, inplace=True)

# scaling the dataframe copy
X_scaled = standard_scaling(continuous_df)

# concatenating with the other dataframes and dropping the target
X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X.drop(['price'], axis=1, inplace=True)

# checking the model's performance
evol_2 = modeling(y, X, models=[LinearRegression()], test_size=0.3)

# the results are mostly the same, only the MAE improved by very little

#### Looking at the difference between `sqft_lot` and  `sqft_lot15`
The heatmap showed that these two features have very little correlation with the target.

In [ ]:
print('corrlation of sqft_lot and sqft_lot15 witht the target:\n', 
      continuous_df.corrwith(continuous_df['price']).sort_values(ascending=False).head(20), '\n')
print('do not show in the top :\n', X.corrwith(continuous_df['price']).sort_values(ascending=False).head(20))

In [ ]:
diff_lot_15 = pd.DataFrame()
diff_lot_15['lot_15'] = continuous_df['sqft_lot15']
diff_lot_15['lot'] = continuous_df['sqft_lot']
diff_lot_15['diff'] = diff_lot_15.apply(lambda x: x['lot_15'] - x['lot'], axis=1)
diff_lot_15 = diff_lot_15.sort_values('diff', ascending=False)
print('the diff median is: ', diff_lot_15['diff'].median())
print()
print(diff_lot_15['diff'].describe())
print()
print(diff_lot_15.head(5))
print()
print(diff_lot_15.tail(5))

We could create a new column with the lot evolution and drop `sqft_lot` and `sqft_lot15`.

In [ ]:
continuous_df['lot_evolution'] = continuous_df.apply(lambda x: x['sqft_lot15'] - x['sqft_lot'], axis=1)
data['lot_evolution'] = data.apply(lambda x: x['sqft_lot15'] - x['sqft_lot'], axis=1)

print('corrlation of sqft_lot and sqft_lot15 witht the target:\n', 
      continuous_df.corrwith(continuous_df['price']).sort_values(ascending=False).head(20), '\n')

In [ ]:
# dropping sqft_lot and sqft_lot15
continuous_df = continuous_df.drop(['sqft_lot', 'sqft_lot15'], axis=1)
data = data.drop(['sqft_lot', 'sqft_lot15'], axis=1)

# scaling the data with StandardScaler
X_scaled = standard_scaling(continuous_df)

# concatenating the dataframes to create our exogenous dataset
X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X = X.drop('price', axis=1)

# isolating the target
y = data['price']

# checking the model's performance
evol_2 = modeling(y, X, models = [LinearRegression()], test_size=0.3)

# the results are mostly the same, only the MAE improved by very little

### Removing the outliers

Some outliers in the complete dataset are actually features of thir own group. 

I will try two methods:

        - removing the outliers per `zipcode` to preserve geographical specificities
        - removing the outliers per `grade` to preserve the insight of real estate business experts

In [ ]:
# re-assigning the correct datatype to the categorical data
cat_columns_bis = ['waterfront', 'view', 'condition', 'grade', 'zipcode', 'renovated', 'decade_built', 'quarter_sold']
data[cat_columns_bis] = data[cat_columns_bis].astype(object)
data[cat_columns_bis].dtypes

In [ ]:
# function to remove the outliers per a filter column to keep specifities
def outliers(df, filt, target):
    df[filt] = df[filt].astype(int)
    unique = list(df[filt].unique())
    
    df_num = df.loc[:, df.columns != target]
    df_num = df_num.select_dtypes(np.number)
    
    out = pd.DataFrame(columns=df_num.columns)
    
    for i in range(0, len(unique)):
        data_element = df_num[df_num[filt]==unique[i]]
        for col in data_element.columns:
            
            if col != filt:
                upper = np.percentile(data_element[col], 75)
                lower = np.percentile(data_element[col], 25)
                iqr = upper - lower
                upper_limit = upper + 1.5 * iqr
                lower_limit = lower - 1.5 * iqr
                
                no_outliers = data_element[(data_element[col]>lower_limit) & (data_element[col]<upper_limit)]
                
        out = pd.concat([out, no_outliers])
    
    out = out.drop([filt], axis=1)
    #data = pd.merge(out, cat, how='left', left_index=True, right_index=True)
    
    return out

In [ ]:
data_no_lot = data.drop(['lot_evolution'], axis=1)
data_no_lot

In [ ]:
# getting the numerical data with the outliers removed per 'grade' values
num_grades = outliers(data_no_lot, 'grade', 'price')
num_grades

In [ ]:
# getting the numerical data with the outliers removed per 'zipcode' values
num_zipcodes = outliers(data_no_lot, 'zipcode', 'price')
num_zipcodes = num_zipcodes.drop(['grade'], axis=1)
num_zipcodes

#### Modeling with the outliers removed by `grade` values

In [ ]:
# merging the discrete numericals with the target to have the same numbers of rows
discrete_df_grades = num_grades[['bedrooms', 'bathrooms', 'floors']]
target = data['price']
target = target.to_frame()
discrete_df_grades = discrete_df_grades.merge(target, how='left', left_index=True, right_index=True)
discrete_df_grades.reset_index(drop=True, inplace=True)

# re-creating the continuous numericals dataframe
continuous_df_grades = num_grades.drop(['bedrooms', 'bathrooms', 'floors'], axis=1)
continuous_df_grades.reset_index(drop=True, inplace=True)

# scaling the data with StandardScaler
X_scaled = standard_scaling(continuous_df_grades)

# concatenating the dataframes to create our exogenous dataset
nums = pd.concat([discrete_df_grades,X_scaled], axis=1)
X = pd.merge(nums, cat_encoded, how='left', left_index=True, right_index=True)

# isolating the target and dropping it from our explanatory variable dataset
y = X['price']
X = X.drop(['price'], axis=1)

# checking the model's performance
evol_3 = modeling(y, X, models = [LinearRegression()], test_size=0.3)

# the model does not perform as well

#### Modeling with the outliers removed by `zipcode` values

In [ ]:
# merging the discrete numericals with the target to have the same numbers of rows
discrete_df_grades = num_zipcodes[['bedrooms', 'bathrooms', 'floors']]
target = data['price']
target = target.to_frame()
discrete_df_grades = discrete_df_grades.merge(target, how='left', left_index=True, right_index=True)
discrete_df_grades.reset_index(drop=True, inplace=True)

# re-creating the continuous numericals dataframe
continuous_df_grades = num_zipcodes.drop(['bedrooms', 'bathrooms', 'floors'], axis=1)
continuous_df_grades.reset_index(drop=True, inplace=True)

# scaling the data with StandardScaler
X_scaled = standard_scaling(continuous_df_grades)

# concatenating the dataframes to create our exogenous dataset
nums = pd.concat([discrete_df_grades,X_scaled], axis=1)
X = pd.merge(nums, cat_encoded, how='left', left_index=True, right_index=True)

# isolating the target and dropping it from our explanatory variable dataset
y = X['price']
X = X.drop(['price'], axis=1)

# checking the model's performance
evol_3 = modeling(y, X, models = [LinearRegression()], test_size=0.3)

# the results are a lot worse

#### Checking if applying a transformation to improve the distribution helps the model perform better

###### Log transformation

In [ ]:
log_numericals = log_transform_df(continuous_df)

In [ ]:
# scaling the data with StandardScaler
X_scaled = standard_scaling(log_numericals)

# concatenating the dataframes to create our exogenous dataset
X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X = X.drop('price', axis=1)

# isolating the target
y = data['price']

# checking the model's performance
evol_4 = modeling(y, X, models = [LinearRegression()], test_size=0.3)

# the results are not as good

###### Square-root transformation

In [ ]:
sqrt_numericals = sqrt_transform_df(continuous_df)

In [ ]:
# scaling the data with StandardScaler
X_scaled = standard_scaling(sqrt_numericals)

# concatenating the dataframes to create our exogenous dataset
X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X = X.drop('price', axis=1)

# isolating the target
y = data['price']

# checking the model's performance
evol_5 = modeling(y, X, models = [LinearRegression()], test_size=0.3)

# the results are mostly the same

### Houses valued at 650K and above

#### Understanding the factors that are responsible for higher property value

In [ ]:
df_rich = data.loc[data['price']>650000]
print(df_rich.shape)
df_rich.head()

## Comparing regression models

In [ ]:
# scaling the data with StandardScaler
X_scaled = standard_scaling(continuous_df)

# concatenating the dataframes to create our exogenous dataset
X = pd.concat([X_scaled, discrete_df, cat_encoded], axis=1)
X = X.drop('price', axis=1)

# isolating the target
y = data['price']

### Finding the best k value

In [ ]:
best_k = optimal_k(2, 30)

In [ ]:
predictions_4m = modeling(y, X, models=[LinearRegression(), KNeighborsRegressor(n_neighbors=7), RandomForestRegressor(max_depth=10), GradientBoostingRegressor()], test_size=0.3)

### Hyper-parameter tuning with RandomForestRegressor and GradientBoostingRegressor

#### GradientBoostingRegressor

In [ ]:
# Train-Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Model
gbr = GradientBoostingRegressor(random_state=42)

gb_hyperparameters = {
    'n_estimators' : [350, 450],
    'learning_rate' : [0.05, 0.1, 0.2],
    'min_samples_split': [2, 3, 4],    
    'max_depth' : [4, 5, 7]}


# Grid search - GradientBoostingRegressor
grid_search_gb = GridSearchCV(gbr, gb_hyperparameters, cv=5,
                           scoring='neg_root_mean_squared_error',
                           return_train_score=True, n_jobs=-1)

grid_search_gb.fit(X_train, y_train)
gbr_best_parameters = grid_search_gb.best_params_
print(gbr_best_parameters)

In [ ]:
gbr_best_parameters = grid_search_gb.best_params_
gbr_best_parameters

In [ ]:
gbr = GradientBoostingRegressor(n_estimators = 450, max_depth=4, min_samples_split=4, learning_rate=0.1, random_state=42)

gbr.fit(X_train, y_train)

gbr.score(X_test, y_test)

#### RandomForestRegressor

In [ ]:
# Defining the range of hyper-parameters:
rf_hyperparameters = {
    'criterion': ['mse', 'mae'],
    'n_estimators' : [50, 100],
    'min_samples_split': [2, 3],
    'max_features' : ['auto', 'sqrt'],
    'bootstrap': [True],
    'max_depth': [3,5],
    'min_samples_leaf' : [1, 3, 5]}

# Grid search - RandomForestRegressor
grid_search_rf = GridSearchCV(RandomForestRegressor(random_state=42), rf_hyperparameters, cv=5,
                           scoring='neg_root_mean_squared_error',
                           return_train_score=True, n_jobs=-1)

grid_search_rf.fit(X_train, y_train)
print(grid_search_rf.best_params_)

### Making pipelines

In [ ]:
# Train-Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

pipelines = {
    'rf' :    make_pipeline(RandomForestRegressor(random_state=42)),
    'gb' :    make_pipeline(GradientBoostingRegressor(random_state=42))
}

rf_hyperparameters = {
     'randomforestregressor__n_estimators' : [100, 500],
     'randomforestregressor__max_features' : ['auto', 'sqrt'],
     'randomforestregressor__min_samples_leaf' : [1, 3, 5, 7]}

gb_hyperparameters = {
      'gradientboostingregressor__n_estimators' : [50, 200],
      'gradientboostingregressor__learning_rate' : [0.05, 0.1, 0.2],
      'gradientboostingregressor__max_depth' : [4, 5, 6,7,8]}

grid_search = GridSearchCV(model, )


fitted_models = {}
for name, pipeline in pipelines.items():
    model = GridSearchCV(pipeline, 
                         hyperparameters[name], 
                         cv=10, 
                         n_jobs=-1)
    model.fit(X_train, y_train)
    fitted_models[name] = model